{% extends "layout.njk" %}

{%block head%}
<title>Sobre - Vinicius Lopes</title>
{% endblock %}

{% block content %}

<div id="wrapper">
  <img src="https://avatars1.githubusercontent.com/u/60045489?s=460&u=0a22989da6fa43f7a1e64326fcf3ef8b3bb9b96c&v=4" alt="Vinicius Lopes">
  <h1>Vinicius Lopes</h1>
  <h2>Full Stack Developer</h2>
  <p>Trabalho atualmente na empresa Grupo Assessor, e realizo atualmente o curso Launchbase da <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a></p>
</div>

<footer> 
  <div id="links-footer" class="links">
    <a href="https://github.com/vinyshoow" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/vinicius-lopesqz" target="_blank">Linkedin</a>
    <a href="https://www.instagram.com/viinyshoow/" target="_blank">Instagram</a>
  </div>
</footer>

{% endblock %}